@using Recipes.Common
@using Recipes.Web.ViewModels.Home;
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData["messageSended"] != null)
{
    <h1>Благодарим Ви, че се свързахте с нас!</h1>
    <h2>Очаквайте отговор на посочения от вас email адрес.</h2>

}

<h1 class="text-center index-heading">Последно добавени</h1>
<section class="recipes-list-container index-recipes">
    @foreach (var recipe in Model.RecentRecipes)
    {
        <article class="recipe-in-list-container">
            <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

<h1 class="text-center index-heading">Най-преглеждани</h1>
<section class="recipes-list-container index-recipes">
    @foreach (var recipe in Model.MostPopularRecipes)
    {
        <article class="recipe-in-list-container">
            <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

<h1 class="text-center index-heading">Малко статистика</h1>
<table id="stats-table" class="table table-striped table-hover">
    <tbody>
        <tr>
            <td>Регистрирани потребители</td>
            <td>@Model.UsersCount</td>
        </tr>
        <tr>
            <td>Одобрени рецепти</td>
            <td>@Model.ApprovedRecipesCount</td>
        </tr>
        <tr>
            <td>Рецепти чакащи одобрение</td>
            <td>@Model.WaitingForApprovalRecipesCount</td>
        </tr>
        <tr>
            <td>Общо рецепти на сайта</td>
            <td>@(Model.ApprovedRecipesCount + Model.WaitingForApprovalRecipesCount)</td>
        </tr>
        <tr>
            <td>Категории</td>
            <td>@Model.CategoriesCount</td>
        </tr>
        <tr>
            <td>Съставки</td>
            <td>@Model.IngredientsCount</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/paintBorder.js" asp-append-version="true"></script>
}