@using Recipes.Common
@using Recipes.Web.ViewModels.Home;
@model IndexStatsViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData["messageSended"] != null)
{
    <h1>Благодарим Ви, че се свързахте с нас!</h1>
    <h2>Очаквайте отговор на посочения от вас email адрес.</h2>

}

<ul class="stats">
    <li><a asp-controller="Recipes" asp-action="All">Одобрени рецепти: @Model.ApprovedRecipesCount</a></li>
    <li>Рецепти чакащи одобрение: @Model.WaitingForApprovalRecipesCount</li>
    <li>Съставки: @Model.IngredientsCount</li>
    <li><a asp-controller="Categories" asp-action="All">Категории: @Model.CategoriesCount</a></li>
    <li>Общо рецепти на сайта: @(Model.ApprovedRecipesCount + Model.WaitingForApprovalRecipesCount)</li>
</ul>