@using Recipes.Common
@using Recipes.Web.ViewModels.Home;
@model IndexViewModel
@{
    this.ViewData["Title"] = "Рецепти";
}

@if (this.TempData["messageSended"] != null)
{
    <h1 class="text-center">Благодарим Ви, че се свързахте с нас!</h1>
    <h2 class="text-center">Очаквайте отговор на посочения от вас email адрес.</h2>
    <hr />
}

<h1 class="text-center index-heading">Последно добавени</h1>
<section class="recipes-list-container index-recipes">
    @foreach (var recipe in Model.RecentRecipes)
    {
        <article class="recipe-in-list-container">
            <a href="@recipe.Url">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

<h1 class="text-center index-heading">Най-преглеждани</h1>
<section class="recipes-list-container index-recipes">
    @foreach (var recipe in Model.MostPopularRecipes)
    {
        <article class="recipe-in-list-container">
            <a href="@recipe.Url">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

<h1 class="text-center index-heading">Най-коментирани</h1>
<section class="recipes-list-container index-recipes">
    @foreach (var recipe in Model.MostCommentedRecipes)
    {
        <article class="recipe-in-list-container">
            <a href="@recipe.Url">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

@section Scripts {
    <script src="~/js/paintBorder.min.js" asp-append-version="true"></script>
}