@using RecipesApp.Core.Constants
@using RecipesApp.Core.Models
@using System.Text
@model SingleRecipeViewModel

@{
    ViewData["Title"] = "Рецепта за " + Model.Name;
}

<p class="linksAboveHeader">
    <a asp-controller="Home" asp-action="Index">Начало</a> >
    <a asp-controller="Categories" asp-action="ByName" asp-route-name="@Model.CategoryName">@Model.CategoryName</a> >
    <a asp-controller="Recipes" asp-action="ById" asp-route-id="@Model.Id">@Model.Name</a>
</p>

<header>
    <section class="recipe-container">
        <article class="recipe-title">
            <p>@Model.Name.ToUpper()</p>
        </article>
        <article class="flex-recipe-container">
            <article class="recipe-img">
                <img src="@Model.ImageUrl" class="img-fluid w-80" />
            </article>
            <article class="recipe-info">
                <ul>
                    <li><i class="fa-regular fa-clock"></i> Приготвяне: @Model.PreparationTime.Value.TotalMinutes мин.</li>
                    <li><i class="fa-solid fa-utensils"></i> Готвене: @Model.CookingTime.Value.TotalMinutes мин.</li>
                    <li><i class="fa-solid fa-hourglass-end"></i> Общо: @(Model.TotalTime ?? 0) мин.</li>
                    <li><i class="fa-solid fa-list"></i> Порции: @(Model.PortionsCount ?? 0)</li>
                </ul>
            </article>
        </article>
        <span id="singleRecipe-categoryName" style="display:none">@Model.CategoryName</span>
    </section>
</header>

<section class="instructions-and-ingredients-container">
    <article class="ingredients-container">
        <ol>
            <p>Съставки:</p>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li><p>@ingredient.IngredientName - @ingredient.Quantity</p></li>
            }
        </ol>
    </article>
    <article class="instructions-container">
        <p class="instructions-container-title">Начин на приготвяне:</p>
        @{
            var instructions = new StringBuilder();
            foreach (var character in Model.Instructions)
            {
                instructions.Append(character);
                if (character == '.' || character == '!')
                {
                    instructions.Append("<br /><br />");
                }
            }

        }
        <p>@Html.Raw(instructions)</p>
    </article>
</section>

<section>
    <article id="recipe-user-info">
        <ul>
            @if (Model.IsRecipeFavorite)
            {
                <li class="heart">
                    <a asp-action="DeleteFromFavorites" asp-controller="Recipes" asp-route-id="@Model.Id" data-toggle="tooltip" title="Премахни от любими">
                        <i style="color: Red;" class="fa-solid fa-heart"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="heart">
                    <a asp-action="AddToFavorites" asp-controller="Recipes" asp-route-id="@Model.Id" data-toggle="tooltip" title="Добави в любими">
                        <i style="color: Red;" class="fa-regular fa-heart"></i>
                    </a>
                </li>
            }
            @if (Model.IsTakenFromRecipeGotvachWebsite)
            {
                <li>Рецептата е взета от <a id="info-origin" href="https://recepti.gotvach.bg/">recepti.gotvach.bg</a></li>
            }
            else
            {
                <li>Добавена от <i class="fa-regular fa-user"></i>@Model.AddedByUser</li>
            }
            <li><i class="fa-regular fa-calendar-days"></i> @Model.CreatedOn.ToShortDateString()</li>
        </ul>
    </article>
</section>

<section id="section-votes">
    @if (!User.Identity.IsAuthenticated)
    {
        <p id="votes-msg">Само регистрирани потребители могат да гласуват и да добавят коментари !!!</p>
    }
    <ul>
        <li><i id="firstStar" class="fa-regular fa-star" data-vote="1"></i></li>
        <li><i id="secondStar" class="fa-regular fa-star" data-vote="2"></i></li>
        <li><i id="thirdStar" class="fa-regular fa-star" data-vote="3"></i></li>
        <li><i id="fourthStar" class="fa-regular fa-star" data-vote="4"></i></li>
        <li><i id="fifthStar" class="fa-regular fa-star" data-vote="5"></i></li>
        <li id="avg-votes">@Model.AverageVotesValue.ToString("0.0") / 5</li>
    </ul>
</section>
<span id="span-avg-votes" style="display:none">@Model.AverageVotesValue.ToString("0.0")</span>

<section id="button-links">
    <ul>
        <li>
            <a id="addCommentLink" asp-controller="Comments" asp-action="Add" asp-route-id="@Model.Id">Добави коментар</a>
        </li>
        @if (User.IsInRole(Roles.Administrator))
        {
            <li>
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" id="editLink">Редактирай</a>
            </li>
            <li>
                <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                    <button type="submit">Изтрий</button>
                </form>
            </li>
        }
    </ul>
</section>

<section class="comments-section">
    @foreach (var comment in Model.Comments)
    {
        <article class="comments-section-current">
            <article class="comments-section-current-user">
                <i class="fa-regular fa-user"></i>@comment.AddedByUser
            </article>
            <article class="comments-section-current-content">
                <p>@comment.Content</p>
            </article>
            <article class="comments-section-current-date">
                <i class="fa-regular fa-calendar-days"></i> @comment.CreatedOn
            </article>
            @if (User.IsInRole(Roles.Administrator))
            {
                <form method="post" asp-controller="Comments" asp-action="Delete" id="deleteCommentBtn" asp-route-id="@comment.Id" asp-route-recipeId="@Model.Id">
                    <button type="submit">Изтрий</button>
                </form>
            }
        </article>

    }
</section>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script src="~/js/starsColoring.js"></script>
    <script>
        let elements = document.querySelectorAll('#section-votes i');
        for (let el of elements) {
            el.addEventListener('click', async () => {
                const value = el.getAttribute('data-vote');
                const recipeId = @Model.Id;
                const antiForgeryToken = document.querySelector('#antiForgeryForm input[name=__RequestVerificationToken]').value;
                let data = { recipeId: recipeId, value: value };
                const url = '/api/Votes'
                const options = {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    body: JSON.stringify(data),
                };

                const response = await fetch(url, options);
                const result = await response.json();

                document.getElementById('avg-votes').textContent = result.averageVote.toFixed(1) + ' / 5';
            });
        }
    </script>
}

    @*TODO: Rating and Comments*@