@using Recipes.Common;
@using Recipes.Web.ViewModels.Posts;
@model SinglePostViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<section class="post-byId-wrapper">
    <h2>@this.ViewData["Title"]</h2>
    <button class="forum-btn">Отговор</button>
    <article class="post-comment">
        <article class="post-comment-header"><article>@Model.AddedByUserUserName</article> <article><time datetime="@Model.DateAsString"></time></article></article>
        <article class="post-comment-content"><p>@Model.Name</p><hr /><p>@Model.Content</p></article>
        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Изтрии</a>
        }
    </article>
    @foreach (var comment in Model.Comments)
    {
        <article class="post-comment">
            <article class="post-comment-header"><article>@comment.AddedByUserUserName</article> <article><time datetime="@comment.DateAsString"></time></article></article>
            <article class="post-comment-content"><p>Тема: @Model.Name</p><hr /><p>@comment.Content</p></article>
        </article>
    }
    <form class="comment-form" method="post" asp-action="CreateComment" asp-controller="Comments">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="hidden" value="true" name="forPost" />
        <label asp-for="CommentContent" class="post-input-comment-header">Добави Отговор</label>
        <textarea asp-for="CommentContent" class="post-input-comment-content" name="input" rows="10" cols="150"></textarea>
        <span asp-validation-for="CommentContent"></span>
        <button type="submit" class="send-comment-btn">Изпрати</button>
    </form>
</section>

@section Scripts{
    <script>
        let btn = document.querySelector(".forum-btn");
        btn.addEventListener("click", (ev) => {
            ev.preventDefault();
            document.querySelector('.comment-form').scrollIntoView({
                behavior: 'smooth'
            });
        });
    </script>
}