@using Recipes.Common;
@using Recipes.Web.ViewModels.Posts;
@model SinglePostViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<section class="post-byId-wrapper">
    <h2>@this.ViewData["Title"]</h2>
    <button class="forum-btn">Отговор</button>
    <h1 id="post-anster-warning" style="display: none" class="text-danger">Добавянето на отгори към поста е само за регистрирани потребители!</h1>
    @if (Model.PageNumber == 1)
    {
        <article class="post-comment">
            <article class="post-comment-header"><article>@Model.AddedByUserUserName</article> <article><time datetime="@Model.DateAsString"></time></article></article>
            <article class="post-comment-content"><p>@Model.Name</p><hr /><p>@Model.Content</p></article>
            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <a class="btn btn-danger" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Изтрии</a>
                @if (!this.Model.IsApproved)
                {
                    <a class="btn btn-success" asp-controller="Admin" asp-action="Approve" asp-route-id="@Model.Id" asp-route-post="true">Одобри</a>
                }
            }
        </article>
    }
    <input id="post-content-value" type="hidden" value="@Model.Name" />
    @foreach (var comment in Model.Comments)
    {
        <article class="post-comment">
            <article class="post-comment-header"><article>@comment.AddedByUserUserName</article> <article><time datetime="@comment.DateAsString"></time></article></article>
            <article class="post-comment-content"><p>Тема: @Model.Name</p><hr /><p>@comment.Content</p></article>
        </article>
    }

    @*<button class="forum-btn comments">Зареди още отговори</button>*@

    <input type="hidden" id="post-id" value="@Model.Id" />
    <input type="hidden" id="check-if-authenticated" value="@User.Identity.IsAuthenticated" />
    @if (User.Identity.IsAuthenticated)
    {
        <form class="comment-form" method="post" asp-action="CreateComment" asp-controller="Comments">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" name="id" />
            <input type="hidden" value="true" name="forPost" />
            <label asp-for="CommentContent" class="post-input-comment-header">Добави Отговор</label>
            <textarea asp-for="CommentContent" class="post-input-comment-content" name="input" rows="10" cols="150"></textarea>
            <span asp-validation-for="CommentContent"></span>
            <button type="submit" class="send-comment-btn">Изпрати</button>
        </form>
    }
</section>

@if (Model.PagesCount > 1)
{
    <partial name="_PagingPartial" model="@Model" />
}

@section Scripts{
    <script src="~/js/scrollToCommentForm.js" asp-append-version="true"></script>
    @*<script src="~/js/fetchPostComments.js" asp-append-version="true"></script>*@
}