@using Recipes.Web.ViewModels.Posts;
@model SinglePostViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<section class="post-byId-wrapper">
    <h2>@this.ViewData["Title"]</h2>
    <article class="post-comment">
        <article class="post-comment-header"><article>@Model.AddedByUserUserName</article> <article><time datetime="@Model.DateAsString"></time></article></article>
        <article class="post-comment-content"><p>@Model.Name</p><hr /><p>@Model.Content</p></article>
    </article>
</section>