@using Recipes.Web.ViewModels.Messages;
@model MessagesListViewModel

@{
    this.ViewData["Title"] = "Съобщения";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<section class="messages-container">
    @foreach (var message in Model.Messages)
    {
        <article class="message-container">
            <article class="message-container-username"><p>От потребител: @(message.AddedByUserUserName == null ? "Нерегистриран потребител" : message.AddedByUserUserName)</p></article>
            <article class="message-container-from"><p>Имена: @message.Name</p></article>
            <article class="message-container-email"><p>Имейл: @message.Email</p></article>
            <article class="message-container-time"><p>Изпратено на: <time datetime="@message.DateAsString"></time></article>
            <article class="message-container-title"><p>Заглавие: @message.Title</p></article>
            <article class="message-container-content"><p>Съдържание: @message.Content</p></article>
            <a asp-action="DeleteMessage" asp-route-id="@message.Id" class="btn btn-danger">Изтрии</a>
        </article>
    }
</section>

@if (Model.PagesCount > 1)
{
    <partial name="_PagingPartial" model="@Model" />
}