@using RecipesApp.Core.Models
@model HomeViewModel

@{
    ViewData["Title"] = "Рецепти";
}

<p class="index-allRecipesTitle">Последно добавени рецепти</p>

<section class="index-recipes-container">
    @foreach (var recipe in Model.RecentRecipes)
    {
        <article class="single-recipe-container">
            <a asp-area="" asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="single-recipe-container-img">
                    <img src="@recipe.Image" class="img-fluid w-100">
                </article>
                <article class="single-recipe-container-name">
                    <p class="single-recipe-container-name-paragraph">@recipe.Name</p>
                </article>
                <article class="singe-recipe-category">
                    @recipe.CategoryId
                </article>
            </a>
        </article>
    }
</section>

<p class="index-allRecipesTitle">Най-много оценявани рецепти</p>

<section class="index-recipes-container">
    @foreach (var recipe in Model.MostVotedRecipes)
    {
        <article class="single-recipe-container">
            <a asp-area="" asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="single-recipe-container-img">
                    <img src="@recipe.Image" class="img-fluid w-100">
                </article>
                <article class="single-recipe-container-name">
                    <p class="single-recipe-container-name-paragraph">@recipe.Name</p>
                </article>
                <article class="singe-recipe-category">
                    @recipe.CategoryId
                </article>
            </a>
        </article>
    }
</section>
