@using RecipesApp.Core.Models
@model HomeViewModel

@{
    ViewData["Title"] = "Рецепти";
}

<section class="section-title">
    <h1 class="page-title">Последно добавени рецепти</h1>
</section>

<section class="recipes-container">
    @foreach (var recipe in Model.RecentRecipes)
    {
        <article class="single-recipe-container">
            <a asp-area="" asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="single-recipe-container-img">
                    <img src="@recipe.Image" class="img-fluid w-100">
                </article>
                <article class="single-recipe-container-name">
                    <p class="single-recipe-container-name-paragraph">@recipe.Name</p>
                </article>
                <article class="singe-recipe-category">
                    @recipe.CategoryName
                </article>
            </a>
        </article>
    }
</section>

<section class="section-title">
    <h1 class="page-title">Най-много оценявани рецепти</h1>
</section>

<section class="recipes-container">
    @foreach (var recipe in Model.MostVotedRecipes)
    {
        <article class="single-recipe-container">
            <a asp-area="" asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">
                <article class="single-recipe-container-img">
                    <img src="@recipe.Image" class="img-fluid w-100">
                </article>
                <article class="single-recipe-container-name">
                    <p class="single-recipe-container-name-paragraph">@recipe.Name</p>
                </article>
                <article class="singe-recipe-category">
                    @recipe.CategoryName
                </article>
            </a>
        </article>
    }
</section>
