@using Recipes.Common
@using Recipes.Services.Data;
@using Recipes.Web.ViewModels.Categories;
@inject ICategoriesService categoriesService;

@{
    var foodsCategory = this.categoriesService.GetCategoryNames<CategoriesViewModel>().Where(x => x.Name != "Напитки").ToList();
    var beveragesCategory = this.categoriesService.GetCategoryNames<CategoriesViewModel>().Where(x => x.Name == "Напитки").FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search" />
            <input type="checkbox" id="show-menu" />
            <label for="show-menu" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a asp-controller="Home" asp-action="Index">Начало</a></div>
                <ul class="links">
                    <li>
                        <a href="#" class="desktop-link">Рецепти <i class="fa-solid fa-caret-down"></i></a>
                        <input type="checkbox" id="show-services" />
                        <label for="show-services">Рецепти <i class="fa-solid fa-caret-down"></i></label>
                        <ul>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li><a asp-controller="Admin" asp-action="AllUnapproved">За одобряване</a></li>
                            }
                            <li><a asp-controller="Recipes" asp-action="Create">Добави рецепта</a></li>
                            <li><a asp-controller="Recipes" asp-action="All" asp-route-id="1">Всички рецепти</a></li>
                            <li>
                                <a href="#" class="desktop-link">Категории <i class="fa-solid fa-caret-right"></i></a>
                                <input type="checkbox" id="show-more-items" />
                                <label for="show-more-items">Категории <i class="fa-solid fa-caret-down"></i></label>
                                <ul>
                                    @foreach (var category in foodsCategory)
                                    {
                                        <li><a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@category.Id">@category.Name</a></li>
                                    }
                                    <li><a asp-controller="Categories" asp-action="All">Всички категории</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@(beveragesCategory == null ? null : beveragesCategory.Id)">@(beveragesCategory == null ? null : beveragesCategory.Name)</a></li>
                    <li><a asp-controller="Users" asp-action="FavoriteRecipes">Любими</a></li>
                    <li><a>Форум</a></li>
                    <li><a asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label>
            <form method="get" asp-controller="Recipes" asp-action="AllByName" class="search-box">
                <input type="text" name="search" placeholder="Търси по име на рецепта" required />
                <button type="submit" class="go-icon"><i class="fa-solid fa-arrow-right-long"></i></button>
            </form>
        </nav>
    </div>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    
    <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <footer class="footer">
        <div class="footer-container">
            <a asp-controller="Home" asp-action="Contacts" title="Контакти"><span>Контакти</span></a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" title="Правила и лични данни"><span>Правила и лични данни</span></a>
            <a href="https://github.com/DimitarStefan0v/Recipes" title="Open Source System"><span>&copy; @(DateTime.Now.Year + " - " + GlobalConstants.SystemName)<br>Open Source System</span></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
