@using Recipes.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search" />
            <input type="checkbox" id="show-menu" />
            <label for="show-menu" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a href="#">LOGO</a></div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#" class="desktop-link">Features</a>
                        <input type="checkbox" id="show-features" />
                        <label for="show-features">Features</label>
                        <ul>
                            <li><a href="#">Dropmenu 1</a></li>
                            <li><a href="#">Dropmenu 2</a></li>
                            <li><a href="#">Dropmenu 3</a></li>
                            <li><a href="#">Dropmenu 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">Services</a>
                        <input type="checkbox" id="show-services" />
                        <label for="show-services">Services</label>
                        <ul>
                            <li><a href="#">Dropmenu 1</a></li>
                            <li><a href="#">Dropmenu 2</a></li>
                            <li><a href="#">Dropmenu 3</a></li>
                            <li>
                                <a href="#" class="desktop-link">More items</a>
                                <input type="checkbox" id="show-more-items" />
                                <label for="show-more-items">More items</label>
                                <ul>
                                    <li><a href="#">Submenu 1</a></li>
                                    <li><a href="#">Submenu 2</a></li>
                                    <li><a href="#">Submenu 3</a></li>
                                    <li><a href="#">Submenu 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Feedback</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label>
            <form action="#" class="search-box">
                <input type="text" placeholder="Type something to search..." required />
                <button type="submit" class="go-icon"><i class="fa-solid fa-arrow-right-long"></i></button>
            </form>
        </nav>
    </div>

    @*<header class="navbar-wrapper">
    <nav class="custom-navbar">
    <div class="brand-title">Brand Name</div>
    <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </a>
    <div class="navbar-links">
    <ul>
    <li class="navbar-link"><a asp-area="" asp-controller="Recipes" asp-action="All">Всички</a></li>
    <li class="navbar-link"><a asp-area="" asp-controller="Recipes" asp-action="Create">Добави рецепта</a></li>
    <partial name="_LoginPartial" />
    </ul>
    </div>
    </nav>
    </header>*@

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
