@using Recipes.Common;
@using Recipes.Web.ViewModels.Categories;
@model SingleCategoryViewModel

@{
    this.ViewData["Title"] = this.Model.Name;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<section class="category-container">
    <article class="category-container-name">
        <p>@Model.Name</p>
    </article>
    <article class="category-container-img">
        <img src="@Model.ImageUrl" class="img-fluid w-100" />
    </article>
</section>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Редактирай</a>
    <form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изтрий</button>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Моля потвърдете</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Сигурни ли сте че искате да изтриете категорията?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Откажи</button>
                        <button class="btn btn-danger">Изтрий</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}