@using Recipes.Common;
@using Recipes.Web.ViewModels.Categories;
@model SingleCategoryViewModel

@{
    this.ViewData["Title"] = this.Model.Name;
}
<section class="links-above-container">
    <a asp-controller="Home" asp-action="Index">Начало &gt; </a>
    <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@Model.Id">@Model.Name</a>
</section>
<section class="category-container">
    <article class="category-container-name">
        <h1>@Model.Name</h1>
    </article>
    <article class="container-for-img-and-details">
        <article class="category-container-img">
            <img src="@Model.ImageUrl" class="img-fluid w-100" />
        </article>
        <article class="category-container-details">
            <ul>
                <li><i class="fa-solid fa-list"></i> Рецепти в категорията: @Model.RecipesCount</li>
                <li><i class="fa-regular fa-calendar-days"></i> Последно добавена: @Model.RecentRecipeDate.ToShortDateString()</li>
                <li><i class="fa-regular fa-eye"></i> Преглеждания: @Model.ViewCount</li>
            </ul>
        </article>
    </article>
    <input class="container-color" value="@Model.Color" type="hidden" />
</section>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <ul class="buttons-list">
        <li>
            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Редактирай</a>
        </li>
        <li>
            <form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изтрий</button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Моля потвърдете</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Сигурни ли сте че искате да изтриете категорията?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Откажи</button>
                                <button class="btn btn-danger">Изтрий</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
}

<section class="recipes-list-container">
    @foreach (var recipe in Model.RecipesByCategoryId)
    {
                <article class="recipe-in-list-container">
                <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">
                        <article class="recipe-in-list-container-img">
                            <img src="@recipe.ImageUrl" class="img-fluid w-100">
                        </article>
                        <article class="recipe-in-list-container-name">
                            <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                        </article>
                        <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
                    </a>
                </article>
    }
</section>

@if (Model.PagesCount > 0)
{
    <partial name="_PagingPartial" model="@Model" />
}

@section Scripts {
    <script src="~/js/paint.js" asp-append-version="true"></script>
    <script src="~/js/paintBorder.js"></script>
}