@using RecipesApp.Core.Models
@model RecipesListViewModel

@{
    ViewData["Title"] = "Всички рецепти";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
@foreach (var recipe in Model.Recipes)
{
        <div class="col-sm-4 recipe-item">
             <a asp-area="" asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id">
            <div class="card" style="width: 24rem;">
                <img src="@recipe.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@recipe.Name</p>
                </div>
            </div>
            </a>
       </div>
}
 </div>

<partial name="_PagingPartial" model="@Model" />