@using RecipesApp.Core.Models
@model RecipesListViewModel

@{
    ViewData["Title"] = "Всички рецепти";
}

<h1 id="allRecipesTitle">@ViewData["Title"]</h1>

<section id="recipes-container">
    @foreach (var recipe in Model.Recipes)
    {
        <article id="recipe-container">
            <a asp-area="" asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id">
                <article id="recipe-container-img">
                    <img src="@recipe.Image" class="img-fluid w-100">
                </article>
                <article id="recipe-container-name">
                    <p>@recipe.Name</p>
                </article>
            </a>
        </article>
    }
</section>

<partial name="_PagingPartial" model="@Model" />