@using RecipesApp.Core.Models
@model SingleRecipeViewModel

<header>
    <section class="recipe-container">
        <article class="recipe-title">
            <p>@Model.Name.ToUpper()</p>
        </article>
        <article class="flex-recipe-container">
            <article class="recipe-img">
                <img src="@Model.ImageUrl" class="img-fluid w-100" />
            </article>
            <article class="recipe-info">
                <ul>
                    <li><i class="fa-regular fa-clock"></i> Приготвяне: @Model.PreparationTime.Value.TotalMinutes мин.</li>
                    <li><i class="fa-regular fa-clock"></i> Готвене: @Model.CookingTime.Value.TotalMinutes мин.</li>
                    <li><i class="fa-regular fa-clock"></i> Общо: @(Model.TotalTime ?? 0) мин.</li>
                    <li><i class="fa-solid fa-list"></i> Порции: @(Model.PortionsCount ?? 0)</li>
                </ul>
            </article>
        </article>
    </section>
    <section class="instructions-and-ingredients-container">
        <article class="ingredients-container">
            <ol>
                <p>Съставки:</p>
                @foreach (var ingredient in Model.Ingredients)
               {
                   <li>@ingredient.IngredientName - @ingredient.Quantity</li>
               }
            </ol>
        </article>
        <article class="instructions-container">
            <p class="instructions-container-title">Начин на приготвяне:</p>
            <p>@Model.Instructions</p>
        </article>
    </section>
</header>

        @*TODO: Rating and Comments*@