@using Recipes.Web.ViewModels.Recipes;
@model RecipesListViewModel

@{
    this.ViewData["Title"] = "Всички рецепти";
}

@if (this.TempData["recipeCreated"] != null)
{
    <h1 class="text-center">Благодарим Ви, че допринесохте към нашето съдържание. Рецептата ще бъде видима в сайта след като бъде проверена от администратор.</h1>
    <hr />
}
else if (this.TempData["recipeEdited"] != null)
{
    <h1 class="text-center">Промените по рецептата бяха отразени. След като рецептата бъде проверена от администратора ще бъде видима в сайта отново.</h1>
    <hr />
}
else if (this.TempData["recipeDeleted"] != null)
{
    <h1 class="text-center">Рецептата беше успешно изтрира.</h1>
    <hr />
}

@if (Model.Recipes.Any())
{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <section class="sorting-menu">
        <article>
            <ul>
                <li><a class="descending-sort-link" asp-route-sortOrder="descending" asp-route-id="1">Нови</a></li>
                <li><a class="ascending-sort-link" asp-route-sortOrder="ascending" asp-route-id="1">Стари</a></li>
                <li><a class="popularity-sort-link" asp-route-sortOrder="popularity" asp-route-id="1">Популярни</a></li>
                <li><a class="comments-sort-link" asp-route-sortOrder="comments" asp-route-id="1">Коментари</a></li>
            </ul>
        </article>
    </section>
    <input type="hidden" value="@Model.SortOrder" class="input-sort-order-value" />
    
    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }

    <partial name="_RecipesListPartial" model="@Model" />

    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }

}

@section Scripts {
    <script src="~/js/paintBorder.min.js" asp-append-version="true"></script>
    <script src="~/js/disableSortTagElement.min.js" asp-append-version="true"></script>
}