@using Recipes.Common;
@using Recipes.Web.ViewModels.Recipes;
@model SingleRecipeViewModel

@{
    this.ViewData["Title"] = Model.Name;
}
<section class="links-above-container">
    <a asp-controller="Home" asp-action="Index">Начало &gt; </a>
    <a asp-controller="Categories" asp-action="ById" asp-route-id="@Model.CategoryId">@Model.CategoryName &gt; </a>
    <a asp-controller="Recipes" asp-action="ById" asp-route-id="@Model.Id">@Model.Name</a>
</section>
<section class="recipe-container">
    <article class="recipe-container-name">
        <h1>@Model.Name</h1>
    </article>
    <article class="container-for-img-and-details">
        <article class="recipe-container-img">
            <img src="@Model.ImageUrl" class="img-fluid w-100" />
        </article>
        <article class="recipe-container-details">
            <ul>
                <li><i class="fa-regular fa-clock"></i> Приготвяне @Model.PreparationTime мин.</li>
                <li><i class="fa-regular fa-clock"></i> Готвене @Model.CookingTime мин.</li>
                <li><i class="fa-regular fa-clock"></i> Общо @Model.TotalTime мин.</li>
                <li><i class="fa-solid fa-utensils"></i> Порции @Model.PortionsCount</li>
            </ul>
        </article>
    </article>
    <input id="recipe-container-color" value="@Model.Color" type="hidden" />
</section>
<section class="description-and-ingredients-container">
    <article class="description">
        <p class="description-heading">Начин на приготвяне:</p>
        <p>@Model.Description</p>
    </article>
    <article class="ingredients">
        <p>Съставки:</p>
        <ol>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li>@ingredient.IngredientName - @ingredient.Quantity</li>
            }
        </ol>
    </article>
</section>
<section class="votes-container">
    <ul>
        <li><i class="fa-regular fa-star" data-vote="1"></i></li>
        <li><i class="fa-regular fa-star" data-vote="2"></i></li>
        <li><i class="fa-regular fa-star" data-vote="3"></i></li>
        <li><i class="fa-regular fa-star" data-vote="4"></i></li>
        <li><i class="fa-regular fa-star" data-vote="5"></i></li>
    </ul>
    <p id="avg-votes">@Model.AverageVotesValue.ToString("0.0") / 5</p>
</section>
<article class="additional-details">
    <p><i class="fa-regular fa-user"></i> @Model.AddedByUserUserName</p>
    <p><i class="fa-regular fa-calendar-days"></i> @Model.CreatedOn</p>
</article>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <ul class="buttons-list">
        <li>
            <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Редактирай</a>
        </li>
        <li>
            <form method="post" asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изтрий</button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Моля потвърдете</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Сигурни ли сте че искате да изтриете рецептата?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Откажи</button>
                                <button class="btn btn-danger">Изтрий</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
}

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script src="~/js/paint.js"></script>
    <script>
        let elements = document.querySelectorAll('.votes-container i');
        for(let el of elements) {
            el.addEventListener('click', async () => {
                const value = el.getAttribute('data-vote');
                const recipeId = @Model.Id;
                const antiForgeryToken = document.querySelector('#antiForgeryForm input[name=__RequestVerificationToken]').value;
                let data = { recipeId: recipeId, value: value };
                const url = '/api/Votes';
                const options = {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': antiForgeryToken,
                    },
                    body: JSON.stringify(data),
                };

                const response = await fetch(url, options);
                const result = await response.json();

                document.getElementById('avg-votes').textContent = result.averageVote.toFixed(1) + ' / 5';
            });
        }
    </script>
}
