@using Recipes.Web.ViewModels.Recipes;
@model RecipesListViewModel

@{
    this.ViewData["Title"] = "Всички рецепти съдържащи \""+ this.ViewData["SearchString"] + "\" в името си";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<section class="recipes-list-container">
    @foreach (var recipe in Model.Recipes)
    {
        <article class="recipe-in-list-container">
            <a asp-action="ById" asp-route-id="@recipe.Id">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

<section class="pagination-container">
    <article class="pagination-links">
        @for (int i = this.Model.PageNumber - 4; i < this.Model.PageNumber - 1; i++)
        {
            if (i > 0)
            {
                <a class="page-desktop-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@i">@i</a>
            }
        }
        @if (Model.HasPreviousPage)
        {
            <a class="page-desktop-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@Model.PreviousPageNumber">@Model.PreviousPageNumber</a>
            <a class="page-mobile-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@Model.PreviousPageNumber">&lt; Назад</a>
        }
        <p>Страница @this.Model.PageNumber от @this.Model.PagesCount</p>
        @if (Model.HasNextPage)
        {
            <a class="page-desktop-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@Model.NextPageNumber">@Model.NextPageNumber</a>
            <a class="page-mobile-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@Model.NextPageNumber">Напред &gt;</a>
        }
        @for (int i = this.Model.PageNumber + 2; i < this.Model.PageNumber + 4; i++)
        {
            if (i <= this.Model.PagesCount)
            {
                <a class="page-desktop-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-search="@Model.Search" asp-route-id="@i">@i</a>
            }
        }
    </article>
</section>

@section Scripts {
    <script src="~/js/paintBorder.js"></script>
}
