@using RecipesApp.Core.Constants
@using RecipesApp.Core.Contracts
@using Microsoft.AspNetCore.Identity
@using RecipesApp.Infrastructure.Data.Identity
@inject ICategoriesService categoriesService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var categories = categoriesService.GetAllCategories();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipesApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recipeInputForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/singleRecipe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchController.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mediaQueries.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header id="navbar-wrapper">
        <nav class="topnav" id="navbar">
            <div id="collapseMenu" class="custom-dropdown-menu">
                <button class="custom-dropdown-btn" onclick="myFunction()">&#9776;</button>
                <div class="custom-dropdown-content">
                    <a class="dropdown-link" asp-controller="Home" asp-action="Index">Начало</a>
                    <a class="dropdown-link" asp-controller="Recipes" asp-action="All">Всички рецепти</a>
                    <a class="dropdown-link" asp-controller="SearchRecipes" asp-action="Index">Търси по съставки</a>
                    @foreach (var category in categories)
                    {
                        <a class="dropdown-link" asp-controller="Categories" asp-action="ById" asp-route-id="@category.Id">@category.Name</a>
                    }
                    <a class="dropdown-link" asp-controller="Recipes" asp-action="Create">Добави рецепта</a>
                    <a class="dropdown-link" asp-controller="Recipes" asp-action="Favorites">Любими</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="dropdown-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Акаунт</a>
                        

                    }
                    else
                    {
                        <a class="dropdown-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                    }
                    <form method="get" id="search-form" asp-controller="Recipes" asp-action="ByName">
                        <input id="ipt_search" placeholder="Име на рецепта" type="search" name="searchterm" />
                        <button>Намери</button>
                    </form>
                </div>
            </div>

            <a class="navbar-link" asp-controller="Home" asp-action="Index">Начало</a>
            <div class="custom-dropdown-menu">
                <button id="id-custom-dropdown-btn" class="custom-dropdown-btn">Рецепти</button>
                <div id="links-dropdown-content" class="custom-dropdown-content">
                    <div class="triangle-top"></div>
                    <a class="dropdown-link" asp-controller="Recipes" asp-action="All">Всички</a>
                    <a class="dropdown-link" asp-controller="SearchRecipes" asp-action="Index">Търси по съставки</a>
                    @foreach (var category in categories)
                    {
                        <a class="dropdown-link" asp-controller="Categories" asp-action="ById" asp-route-id="@category.Id">@category.Name</a>
                    }
                </div>
            </div>
            <a class="navbar-link" asp-controller="Recipes" asp-action="Create">Добави рецепта</a>
            <a class="navbar-link" asp-controller="Recipes" asp-action="Favorites">Любими</a>
            <div class="custom-dropdown-menu">
                <button class="custom-dropdown-btn"><i class="fas fa-search" aria-hidden="true"></i></button>
                <div class="custom-dropdown-content">
                    <form method="get" id="search-form" asp-controller="Recipes" asp-action="ByName">
                        <input id="ipt_search" placeholder="Име на рецепта" type="search" name="searchterm" />
                        <button>Намери</button>
                    </form>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <section>
            <ul>
                <li><a asp-controller="Recipes" asp-action="Create">Добави рецепта</a></li>
                <li><a asp-controller="SearchRecipes" asp-action="Index">Търси по съставкa</a></li>
                <li><a asp-controller="Recipes" asp-action="Favorites">Любими</a></li>
                <li><a asp-controller="Recipes" asp-action="All">Всички рецепти</a></li>
                <li><a asp-controller="Categories" asp-action="Index">Всички категории</a></li>
                @foreach (var category in categories)
                {
                    <li>
                        <a asp-controller="Categories" asp-action="ById" asp-route-id="@category.Id">@category.Name</a>
                    </li>
                }
            </ul>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/recipeColorChanger.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script src="~/js/dropdown.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
