@using RecipesApp.Core.Models
@model PagingViewModel

<section class="pagination-wrapper">
    <p id="pagingMsg">@(Model.PagesCount > 1 ? "Показване на страница " + @Model.PageNumber + " от общо " + @Model.PagesCount + " страници" : "Показване на единствената страница")</p>
    @if (Model.FromCategoriesController)
    {
        <article class="pagination">
            @if (Model.HasPreviousPage)
            {
                <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="1">|&lt;</a>
                <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@Model.PreviousPageNumber">&lt;</a>
            }
            @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@i">@i</a>
                }
            }
            <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@Model.PageNumber">@Model.PageNumber</a>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@i">@i</a>
                }
            }
            @if (Model.HasNextPage)
            {
                <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@Model.NextPageNumber">></a>
                <a asp-controller="Categories" asp-action="ById" asp-route-categoryId="@TempData["CategoryId"]" asp-route-pageNumber="@Model.PagesCount">>|</a>
            }
        </article>
    }
    else
    {
        <article class="pagination">
            @if (Model.HasPreviousPage)
            {
                <a asp-action="All" asp-route-id="1">|&lt;</a>
                <a asp-action="All" asp-route-id="@Model.PreviousPageNumber">&lt;</a>
            }
            @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <a asp-action="All" asp-route-id="@i">@i</a>
                }
            }
            <a asp-action="All" asp-route-id="@Model.PageNumber">@Model.PageNumber</a>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <a asp-action="All" asp-route-id="@i">@i</a>
                }
            }
            @if (Model.HasNextPage)
            {
                <a asp-action="All" asp-route-id="@Model.NextPageNumber">></a>
                <a asp-action="All" asp-route-id="@Model.PagesCount">>|</a>
            }
        </article>
    }
</section>